* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;  
}
body{
    width: 100%;
    min-width: 100vh;
    background-color: rgb(243,243,243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.instagram-phone img {
    height: 40rem;
}

.instagram-login{
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 45%;
    min-height: 34rem;
}
.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;

}
.group:nth-child(1){
    min-height: 19rem;
}

.instaname{
    height: 8rem;
}

.form {
    font-size: 12px;
    height: 36px;
    left: 8px;
    line-height: 36px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-overflow: ellipsis;
    transition: transform ease-out .1s,-webkit-transform ease-out .1s;
    user-select: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-box-direction: normal;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}

.username{
    display: flex;
    height: 36px;
    -webkit-box-flex: 1;
    padding: 0;
    position: relative;
    margin: 0;
    min-width: 0;
    vertical-align: baseline;
    color: rgb(142,142,142);
    font-size: 12px;
    background-color: rgb(243,243,243);
    overflow: hidden;
    
}

.password {
    display: flex;
    height: 36px;
    -webkit-box-flex: 1;
    padding: 0;
    position: relative;
    margin: 0;
    min-width: 0;
    vertical-align: baseline;
    color: rgb(142,142,142);
    font-size: 12px;
    background-color: rgb(243,243,243);
    overflow: hidden;
}

#enterbutton{
    border: 1px solid transparent;
    background-color: #0095f6;
    color: rgb(243,243,243);
    border-radius: 4px;
    font-weight: 600;
    padding: 5px 82px ;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.group:nth-child(2){
    min-height: 5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.link-blue{
    color:#0095f6;
    font-weight: 600;
}



.get-the-app{
    width: 100%;
    text-align: center;
}

.text-app{
    align-items: center;
    justify-content: center;
}
.app-image{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
   
}
.app-download{
    height: 3rem;
}


/*media queries*/
@media (max-width: 1100px){
    .instagram-wrapper{
        width: 80%;
    }
}

@media (max-width: 850px){
    .instagram-wrapper{
        width: 80%;
    }
    .instagram-phone{
        display: none;
    }
    
}

@media (max-width: 420px){
    .instagram-wrapper{
        width: 80%;
    }
    .instagram-phone{
        display: none;
    }
    
}